<h1>Jeu de go</h1>

<div class="tableau-container">

  <!-- Grille 8×8 -->
  <div class="grille-8x8">
    <div class="game-board">
      @for (row of board8; track $index; let i = $index) {
        <div class="row">
          @for (cell of row; track $index; let j = $index) {
            <div class="display-cell"
                 (click)="onCellClick(i, j)"
                 [ngClass]="getCellClass(i, j)">
            </div>
          }
        </div>
      }
    </div>
  </div>

  <!-- Grille 9×9 -->
  <div class="grille-9x9">
    <div class="game-board">
      @for (row of board9; track $index; let i = $index) {
        <div class="row">
          @for (cell of row; track $index; let j = $index) {
            <div class="display-cell"></div>
          }
        </div>
      }
    </div>
  </div>

</div>

<button (click)="nouvellepartie()">Nouvelle game</button>
<p>@CopyrightbyAngelB</p>
