h1 {
  text-align: center;
  margin: 20px 0;
}

.tableau-container {
  position: relative;
  width: 450px;
  height: 450px;
  margin: auto;
}

/* Grille 8×8 : en dessous, visuelle */
.grille-8x8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.5;
  pointer-events: none;
}

.grille-8x8 .display-cell {
  border: 1px solid black;
  background-color: transparent;
}

/* Grille 9×9 : au-dessus, interactive */
.grille-9x9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.display-cell {
  flex: 1;
  border: 1px solid black;
  background-color: #edff95;
  position: relative;
  cursor: pointer;

  /* ✅ Ajout de taille minimale pour que les cases apparaissent */
  min-width: 40px;
  min-height: 40px;
}

.grille-9x9 .display-cell {
  border: 1px solid black;
  background-color: #edff95;
  position: relative;
  cursor: pointer;
}

.grille-9x9 .display-cell:hover {
  background-color: #c19a1f;
}

.game-board {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #daa520;
}

.row {
  display: flex;
  flex: 1;
}

.stone-black::after,
.stone-white::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  height: 70%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.stone-black::after {
  background-color: black;
}

.stone-white::after {
  background-color: white;
  border: 1px solid black;
}
