h1 {
  text-align: center;
  margin: 20px 0;
}

.tableau-container {
  position: relative;
  width: 450px;
  height: 450px;
  margin: auto;
}

.grille-9x9,
.grille-8x8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.grille-9x9 {
  z-index: 2;
  opacity: 0.6;
  pointer-events: none; 
}

.grille-9x9 .display-cell {
  border: 1px solid black;
  background-color: transparent;
}

.grille-8x8 {
  z-index: 1;
  width: 400px;
  height: 400px;
  top: 25px;
  left: 25px;
}

.game-board {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #daa520;
}

.row {
  display: flex;
  flex: 1;
}

.display-cell {
  flex: 1;
  border: 1px solid black;
  background-color: #edff95;
  position: relative;
  cursor: pointer;
}

.grille-8x8 .display-cell:hover {
  background-color: #c19a1f;
}

.stone-black::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  height: 70%;
  background-color: black;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.stone-white::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  height: 70%;
  background-color: white;
  border: 1px solid #000;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
